*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    font-family: "Lucida Console";
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
    background-color: #24252a;
    width: 100%;
}
header .title{
    color: white;
    margin-right: auto;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-decoration: none;
}
header .bold{
    font-weight: 600;
    color: rgba(0, 136, 169, 1);
}
header nav ul{
    list-style: none;
    display: flex;
}
header nav ul li a{
    color: white;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}
header nav ul li{
    padding-left: 2rem;
}
header nav ul .logout{
    padding-top: 1rem;
}
header nav ul li .button{
    font-weight: 500;
    padding: 0.5rem 2rem;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 3rem;
    cursor: pointer;
    transition: all 0.25s ease 0s;
    border: 2px solid rgba(0, 136, 169, 1);
}
header nav ul li .button:hover{
    background-color: white;
    color: rgba(0, 136, 169, 1);
}
::placeholder{
    color: white;
}
.inv{
    display: none;
}
.radioButton{
    margin: 0 1.5rem 0rem 1.5rem;
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.radioButton .wrap{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0%;
    transform: translate(-50%, -50%);
}
.radioButton .las{
    line-height: 80px;
    font-size: 60px;
}
.radioButton .iconName{
    text-transform: uppercase;
}
.radioButton .red{
    color: #3e1b18;
    filter: brightness(300%);
}
.radioButton .blue{
    color: #0b3c4b;
    filter: brightness(300%);
}
form .send{
    font-family: "Lucida Console";
    padding: 0.15rem 0.3rem;
    background: #24252a;
    text-decoration: none;
    color:white;
    text-align: center;
    transition: all 0.3s;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid #24252a;
    width: 70%;
    text-transform: uppercase;
}
form .send:hover{
    color: rgba(0, 136, 169, 1);
}
form .filter{
    color: white;
    width: 70%;
    border: none;
    border-bottom: 2px solid rgba(0, 136, 169, 1);
    background: transparent;
    padding: 0.3rem;
    height: 1.5rem;
    outline: none;
}
form .nameFilter{
    color: white;
}
@media (max-width: 1030px){
    header nav ul li:not(.logout){
        display: none;
    }
    .logout{
        margin-top: -1rem;
    }
}
@media (max-width: 415px){
    header nav ul li{
        display: none;
    }
}
@media print{
    header{
        display: none;
    }
}