@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,700');

.properties{
	padding: 15px;
	background-color: #296a82;
	width: 610px;
	margin : 5vh auto;
	clear:both;
	border-radius: 10px;
	color:white;
	font-size: 20px;
	font-family: 'Open Sans';
	list-style-type: none;
}

.properties ul{
	list-style-type: none;
	padding: 0px;
}

.properties li:hover{
	background-color: #586b89;
	transition: 100ms;
	font-weight: 700;
}

.properties li{
	padding: 8px;
	transition: 100ms;
	border-radius: 10px;
}

.attribute{
	font-weight: 700;
}

.value{
	margin-left: 50px;
}

.button{
	margin: 10px auto;
	transition: 200ms;
	clear:both;
	background-color: white;
	color: #296a82;
	width:100px;
	padding: 8px;
	border-radius: 10px;
	text-align: center;
	font-weight: 300;
}

.button:hover{
	transition: 200ms;
	font-weight: 700;
}

.price {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.8;
  font-size: 20px;
}

.undertext {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.8;
}

.a1{
	margin-top: 50px;
    color: white;
    text-decoration: none;
    text-align: center;
    clear: both;
    width: 640px;
    opacity: 0.8;
    transition: .2s ease;
}

.a1:hover{
	text-decoration: none;
    opacity: 1;
    color:white;
}

.image {
  max-width: 100%;
  display: block;
  width: 642px;
  height: 149px;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
  overflow: visible;
  background-size: cover;
  object-fit: cover
}

.container {
	border: 4px solid black;
	border-radius: 15px;
  max-width: 100%;
	z-index: 50;
  	position: relative;
  	overflow: visible;
 	margin: 10vh auto;
	width: 640px;
  	height: 200px;
  	clear: both;
}

.overlay {
	z-index: 52;
  	position: absolute;
  	opacity: 0;
  	transition: .2s ease;
  	background: #003399;
  	border-radius: 7px;

}

.container:hover .overlay {
  opacity: 0.7;
}

.text1{
	background: #ffe6d1;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom: 2px solid black;
	text-decoration: none;
	text-align: center;
	font-size: 36px;
}

.grid-container {
	padding: 20px;
  clear: both;
  margin: 0 auto 0;

}

.page-footer{
	padding: 10px;
}

@media (max-width: 750px) {
.grid-container {
	padding-top: 200px;
}
.quote{
	display: none;
}
}
